<html>
    {% load static %}
    <head>
        <title>Registration</title>
    </head>
    <body background="{% static 'img/pexels-dominika-roseclay-977736 (3).jpg' %}">
        <center>
            <form action="sub2">
            <div style="width:500px;height:500px;;background-color:rgba(248, 248, 248, 0.37);margin-top:100px;border-radius:20px;outline:none;padding-top:20px">
        
        <label for="First Name"><b>First Name</b></label>
        <input type="text" placeholder="Create First Name" name="fname" required style="width:280px;height:30px;border:none;border-bottom:2px solid rgba(101, 240, 233, 0.267);border-radius:10px;padding-left:100px;margin-bottom:20px;outline:none;"><br>

        <label for="Last Name"><b>Last Name<b></label>
            <input type="text" placeholder="Create Last Name" name="lname" required style="width:280px;height:30px;border:none;border-bottom:2px solid rgba(101, 240, 233, 0.267);border-radius:10px;padding-left:100px;margin-bottom:20px;outline:none;"><br>
    
        

    <label for="user"><b>Username</b></label>
    <input type="text" placeholder="Choose Username" name="uname" required style="width:280px;height:30px;border:none;border-bottom:2px solid rgba(101, 240, 233, 0.267);border-radius:10px;padding-left:100px;margin-bottom:20px;outline:none;"><br>
    
    <label for="email">enter Email<b></b></label>
    <input type="email" placeholder="enter your email" name="ename" required style="width:280px;height:30px;border:none;border-bottom:2px solid rgba(101, 240, 233, 0.267);border-radius:10px;padding-left:100px;margin-bottom:20px;outline:none;"><br>
    
    <label for="psw-repeat"><b>Password</b></label>
    <input type="password" placeholder="Create Password" name="pname" required style="width:280px;height:30px;border:none;border-bottom:2px solid rgba(101, 240, 233, 0.267);border-radius:10px;padding-left:100px;margin-bottom:20px;outline:none;"><br>
    
    <label for="psw-repeat"><b>Re-password</b></label>
    <input type="password" placeholder="Repeate Password" name="re-pname" required style="width:280px;height:30px;border:none;border-bottom:2px solid rgba(101, 240, 233, 0.267);border-radius:10px;padding-left:100px;margin-bottom:20px;outline:none;"><br>
    
    
    


   
    <button type="submit" class="registerbtn" required style="background-color:aqua ;width:280px;height:30px;border:none;border-bottom:2px solid rgba(101, 240, 233, 0.267);border-radius:10px;margin-bottom:20px;outline:none;padding-left:10px">Register</button>

        </form>
        </div>
        </center>
  </div>
    </body>
</html>